@font-face {
    font-family: DKCoolCrayon;
    src: url(/static/fonts/DkCoolCrayon-xJyV.ttf);
}

@font-face {
    font-family: DKNouveauCrayon;
    src: url(/static/fonts/DkNouveauCrayonRegular-R2j6.otf);
}

:root {
    --title:"DKCoolCrayon";
    --text:"DKNouveauCrayon";
    --primary:#FFF84C;
    --secondary:#FE41B2;
    background-color: var(--secondary);
}

body {
    margin:0;
    padding:0;
    color:var(--secondary);
    background-color: var(--primary);
    font-family: var(--text);
    overflow-x: hidden;
}

h1, h2, h4 {
    padding:0;
    margin:0;
}

h1, h3 {
    font-family: var(--title);
}

a {
    text-decoration: none;
    color:var(--secondary);
}

table,
th,
td {
    border: 1px solid;
}
