
/* ====== PROFILE CARD ====== */
#profile-all {
    display:flex;
    margin-top:8vh;
    padding:3vh;
    background-color: white;
    border:3px solid var(--secondary);
    border-radius:5px;
    animation:alternate profileCard 2.5s infinite ease-in-out;
}

@keyframes profileCard {
    from {
        margin-top:8vh;
        transform:rotate(-1deg);
    }
    to {
        margin-top:6vh;
        transform:rotate(1deg);
    }
}

#profile-all > img, #pp-selection >img {
    width:20vw;
    border:4px solid var(--secondary);
    border-radius:5px;
}

#profile-card {
    width:100%;
    margin-left:3vw;
    padding-top:2vh;
}

#profile-card h4 {
    margin-top:2vh;
    font-size:1.7rem;
}

#profile-card p {
    margin-top:-.5vh;
    font-size:1.4rem;
}

h4+p {
    margin:0;
    border:2px dotted var(--secondary);
    border-radius:2px;
    padding:3vh;
}

#profile-bar {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}

#profile-title {
    display:flex;
    align-items:flex-start;
}

#profile-title h3 {
    margin:0;
}

/* —————— Edit button —————— */

#edit-button img {
    margin-left:1.5vw;
    width:2.6vw;
    transition:.1s ease-out;
}

#edit-button img:hover {
    margin-top:-1vh;
}

/* —————— Load more —————— */
#load-more {
    width:100%;
    margin-top:2vh;
    text-align: center;
    background-color: transparent;
    border:none;
    color:var(--secondary);
    text-decoration: underline;
    font-family: var(--text);
    font-size:1.5rem;
    letter-spacing:1px;
    cursor:pointer;
}

#load-more:hover {
    text-decoration: none;
}

/* ================================= */
/* ============ ON EDIT ============ */
#edit-text {
    margin-left:3vw;
}

form h4 {
    font-size:2rem;
}

label {
    font-size:1.8rem;
}

input, textarea {
    margin-top: 0;
}

input[type="text"] {
    padding-right:2vw;
    width:10vw;
}

textarea {
    width:25vw;
}

input[type="submit"] {
    margin-top: 2vh;
    margin-right:1vw;
    padding: .5vw 1.5vw;
    background-color: transparent;
    color: var(--secondary);
    cursor: pointer;
}

/* —————— Profile photo selection —————— */
#pp-options {
    width:20vw;
    display:flex;
    justify-content: space-evenly;
}

#pp-selection button {
    margin-top:.5vh;
    background-color: transparent;
    border:none;
}

#pp-selection form img {
    border:3px solid var(--secondary);
    width:100%;
}