/* ====== TRENDING SECTION ====== */

#trending-header {
    display:flex;
    align-items: center;
}

#trending-header a {
    margin-left:2vw;
}


/* ---- Pigeon Cards ---- */
.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.pigeon-card {
    width:13vw;
    margin-right:5vw;
    margin-bottom:6vh;
    padding:2vh;
    background-color: white;
    border:3px solid var(--secondary);
    border-radius:5px;
    transition:.2s ease-out;
}

.pigeon-card:nth-child(even){
    transform: rotate(2deg);
}

.pigeon-card:nth-child(odd){
    transform: rotate(-2deg);
}

.pigeon-card:hover {
    cursor:pointer;
}

.pigeon-card:nth-child(even):hover {
    filter:drop-shadow(8px 8px 0px var(--secondary));
    transform: rotate(1deg);
}

.pigeon-card:nth-child(odd):hover {
    filter:drop-shadow(-8px 8px 0px var(--secondary));
    transform: rotate(-1deg);
}

.pigeon-card img {
    width:100%;
    border:3px solid var(--secondary);
}

.pigeon-card  p {
    margin:0;
}

.pigeon-title {
    padding-top:1.5vh;
    font-size:2.2rem;
    letter-spacing: 2.5px;
}

/* ====== PRINCIPE SECTION ====== */

#principe {
    margin-top:8vh;
}

.principe-container {
    display:flex;
    justify-content: space-between;
    font-size:1.2rem;
    line-height: 1.2;
}

.principe-container img {
    width:17vw;
    margin-right:6vw;
    border:2px solid var(--secondary);
    transform:rotate(-3deg);
}

.principe-container div {
    margin-top:-4vh;
}

.principe-container p {
    margin-bottom:5vh;
}