/* ====== TRENDING SECTION ====== */

#trending-header {
    display:flex;
    align-items: center;
}

#trending-header a {
    margin-left:2vw;
}

/* ====== PRINCIPE SECTION ====== */

#principe {
    margin-top:8vh;
}

.principe-container {
    display:flex;
    justify-content: space-between;
    font-size:1.2rem;
    line-height: 1.2;
}

.principe-container img {
    width:17vw;
    margin-right:6vw;
    border:2px solid var(--secondary);
    transform:rotate(-3deg);
}

.principe-container div {
    margin-top:-4vh;
}

.principe-container p {
    margin-bottom:5vh;
}