<!DOCTYPE html>

<html lang="fr">

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    <title>Profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/cardPigeon.css') }}">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('accueil') }}">Pigeon Gate</a></h1>
        <hr>
    </header>
    <nav>
        <div>
            <li><a class="active-page" href="{{ url_for('galery') }}">the pigeons</a></li>
            <li><a href="{{ url_for('about') }}">à propos</a></li>
        </div>
        <div>
            {% if not userConnected %}
            <li><a href="{{ url_for('register') }}">S'inscrire</a></li>
            <li><a href="{{ url_for('login') }}">Se connecter</a></li>
            {% elif userConnected %}
            <li><a href="{{ url_for('profil') }}">Mon profil</a></li>
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
            {% endif %}
        </div>
    </nav>
    <section>
        <div id="pigeon-info">
            <img src="{{ pigeon.urlPhoto }}" alt="">
            <div id="pigeon-text">
                <h3>{{ pigeon.prenomPigeon }} <span>- {{ pigeon.place }}</span></h3>
                <p>Adopté par : {{ user.pseudo }}</p>
                <p>{{ pigeon.nbLike }} ❤️</p>
                <div id="all-rates">
                    <div class="medium-rate">
                        <p>Originalité</p>
                        <p>{{ pigeon.rateOriginality }}</p>
                    </div>
                    <div class="medium-rate">
                        <p>Démarche</p>
                        <p>{{ pigeon.rateWalk }}</p>
                    </div>
                    <div class="medium-rate">
                        <p>Vibe</p>
                        <p>{{ pigeon.rateVibe }}</p>
                    </div>
                </div>
                {% if not userConnected %}
                <p>Connectez-vous pour noter ce pigeon</p>
                {% elif userConnected %}
                <a id="rate-button" class="call-to-action"
                    href="{{ url_for('cardPigeon', idPigeon=pigeon.idPigeon, showCommentForm=True) }}">Noter</a>
                {% endif %}
            </div>

            <!-- {% if request.args.get('showCommentForm') == 'True' %}
        <form action="/pigeon/{{ pigeon.idPigeon }}/rate" method="post">
            <p>Originalité:</p>
            <input type="radio" id="1" name="noteoriginalite" value="1">
            <label for="1">1</label>
            <input type="radio" id="2" name="noteoriginalite" value="2">
            <label for="2">2</label>
            <input type="radio" id="3" name="noteoriginalite" value="3">
            <label for="3">3</label>
            <input type="radio" id="4" name="noteoriginalite" value="4">
            <label for="4">4</label>
            <input type="radio" id="5" name="noteoriginalite" value="5">
            <label for="5">5</label>

            <p>Démarche:</p>
            <input type="radio" id="1" name="notewalk" value="1">
            <label for="1">1</label>
            <input type="radio" id="2" name="notewalk" value="2">
            <label for="2">2</label>
            <input type="radio" id="3" name="notewalk" value="3">
            <label for="3">3</label>
            <input type="radio" id="4" name="notewalk" value="4">
            <label for="4">4</label>
            <input type="radio" id="5" name="notewalk" value="5">
            <label for="5">5</label>

            <p>Vibe:</p>
            <input type="radio" id="1" name="notevibe" value="1">
            <label for="1">1</label>
            <input type="radio" id="2" name="notevibe" value="2">
            <label for="2">2</label>
            <input type="radio" id="3" name="notevibe" value="3">
            <label for="3">3</label>
            <input type="radio" id="4" name="notevibe" value="4">
            <label for="4">4</label>
            <input type="radio" id="5" name="notevibe" value="5">
            <label for="5">5</label>
            <input type="submit" value="Valider">
        </form>
        {% endif %} -->
        </div>

        <div>
            <h4>Derniers commentaires</h4>
            <div>
                {% for comment in comments %}
                <div class="comment">
                    <p id="commentPseudo">{{ comment.pseudoUser }}</p>
                    <p>{{ comment.textCom }}</p>
                    <p style="text-align: right;"><span>{{ comment.nbLike }} ❤️</span></p>
                </div>
                {% endfor %}
            </div>
            {% if userConnected.pseudo %}
            <h2>Commenter</h2>
            <form action="/pigeon/{{ pigeon.idPigeon }}/comment" method="post">
                <textarea name="comment" id="comment" cols="60" rows="5"></textarea>
                <input class="call-to-action" type="submit" value="Poster">
            </form>
            {% elif not userConnected %}
            <p>Connectez-vous pour commenter</p>
            {% endif %}
        </div>

        <div>
            <h4>Voir d'autres pigeons</h4>
            <div class="cards-container">
                {% for randomPigeon in randomPigeons %}
                <a href="{{ url_for('cardPigeon', idPigeon=randomPigeon.idPigeon) }}" class="pigeon-card-link">
                    <div class="pigeon-card">
                        <div class="pigeon-image" alt=""
                            style="background:url('{{ randomPigeon.urlPhoto }}') center center/cover;">
                        </div>
                        <b>
                            <p class="pigeon-title">{{ randomPigeon.prenomPigeon }}</p>
                        </b>
                        <p><span>Couleur :</span> {{ randomPigeon.color }}</p>
                        <p><span>Looté à :</span> {{ randomPigeon.place }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div id="explorer">
                <p><a class="call-to-action" href="{{ url_for('galery') }}">Explorer</a></p>
            </div>
        </div>
    </section>
    <a id="back-top" href="#top">&uarr; Revenir en haut &uarr;</a>
    <footer>
        <p><a href="/about">The Pigeon Team</a></p>
        <p><a href="https://github.com/AM-XIX/Pigeon-Gate" target="_blank">Pigeon Gate™</a></p>
        <p>IMAC 2024 ©</p>
    </footer>
</body>

</html>