<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    <title>Se connecter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/register.css') }}">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('accueil') }}">Pigeon Gate</a></h1>
        <h2>Bienvenue sur Pigeon-Gate{% if pseudo %}, {{ pseudo }}{% else %}{% endif %} !</h2>
        <hr>
    </header>
    <nav>
        <div>
            <li><a href="">the pigeons</a></li>
            <li><a href="">à propos</a></li>
        </div>
        <div>
            {% if not pseudo %}
            <li><a href="{{ url_for('register') }}">S'inscrire</a></li>
            <li><a href="{{ url_for('login') }}" class="active-page">Se connecter</a></li>
            {% elif pseudo %}
            <li><a href="{{ url_for('profil') }}">Mon profil</a></li>
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
            {% endif %}
        </div>
    </nav>
    {% if messageErrorRegister %}
    <p style="color: red;">{{ messageErrorRegister }}</p>
    {% endif %}
    <section>
        <h3>Connecte toi !</h3>
        <p class="subtext">Nous sommes ravis de te retrouver, adepte de pigeons !</p>
        <div id="join-container">
            <img src="https://images7.memedroid.com/images/UPLOADED295/65bb66a6876c0.jpeg" alt="">
            <form id="login-form" action="/login" method="POST">
                <label for="pseudo">Pseudo</label><br>
                <input type="text" name="pseudo" id="pseudo" placeholder="Ton magnifique pseudo..." required><br>

                <label for="password">Mot de passe</label><br>
                <input type="password" name="password" id="password" placeholder="Ton mot de passe..." required><br>

                <div id="join-or-log">
                    <input type="submit" value="Se connecter">
                    <p>Pas encore de compte ? <a href="/register">S'inscrire</a></p>
                </div>
            </form>
        </div>
    </section>

    <a id="back-top" href="#top">&uarr; Revenir en haut &uarr;</a>
    <footer>
        <p>The Pigeon Team</p>
        <p>Pigeon Gate™</p>
        <p>IMAC 2024 ©</p>
    </footer>
</body>

</html>