<!DOCTYPE html>

<html lang="fr">

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    <title>Profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/welcome.css') }}">
</head>

<body>
    <header>
        <h1>Pigeon Gate</h1>
        <hr>
    </header>
    <nav>
        <div>
            <li><a href="{{ url_for('galery') }}">the pigeons</a></li>
            <li><a href="{{ url_for('about') }}">à propos</a></li>
        </div>
        <div>
            <img src="{{ url_for('static', filename='./images/' ~ user.typeProfilePicture ~ '.png') }}"
                alt="{{ user.typeProfilePicture }}" style="width:15%;">
            <li>{{ user.pseudo }}</li>
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
        </div>
    </nav>
    <section>
        <form action="{{ url_for('editProfile') }}" method="post">
            <p>Pseudo</p>
            <textarea id="pseudo" name="pseudo">{{ user.pseudo }}</textarea>
            <p>Biographie</p>
            <textarea id="bio" name="bio">{{ user.bio }}</textarea><br>
            <input type="submit" value="Modifier">
        </form>
        <img src="{{ url_for('static', filename='./images/' ~ user.typeProfilePicture ~ '.png') }}"
            alt="{{ user.typeProfilePicture }}" style="width:10%;">
        {% for profile in otherProfilePicture %}
        <form action="/edit-profile" method="post">
            <input type="hidden" name="typeProfilePicture" value="{{ profile }}">
            <button type="submit">
                <img src="{{ url_for('static', filename='images/' + profile + '.png') }}" alt="{{ profile }}"
                    style="width:5%;">
            </button>
        </form>
        {% endfor %}


    </section>

</body>

</html>