<!DOCTYPE html>

<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    <title>Profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/welcome.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <h1>Pigeon Gate</h1>
        <hr>
    </header>
    <nav>
        <div>
            <li><a href="">the pigeons</a></li>
            <li><a href="">à propos</a></li>
        </div>
        <div>
            <img src="{{ url_for('static', filename='./images/' ~ user.typeProfilePicture ~ '.png') }}" alt="{{ user.typeProfilePicture }}" style="width:15%;">
            <li>{{ user.pseudo }}</li>
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
        </div>
    </nav>
    <section>
        <h1>{{ user.pseudo }}</h1>
        <img src="{{ url_for('static', filename='./images/' ~ user.typeProfilePicture ~ '.png') }}" alt="{{ user.typeProfilePicture }}" style="width:10%;">
        <p> Biographie<br>{{ user.bio }} </p>
        <u><a href="{{ url_for('changeBio') }}">Modifier</a></u>
        <p>{{ user.sommePigeons }} pigeons postés</p>

        <h3>Les derniers pigeons postés</h3>
        <div class="cards-container">
            {% for lastPigeon in lastPigeons %}
            <div class="pigeon-card">
                <img src="{{ lastPigeon.urlPhoto }}" alt="" style="width:100%">
                <b>
                    <p class="pigeon-title">{{ lastPigeon.prenomPigeon }}</p>
                </b>
                <p><span>Couleur :</span> {{ lastPigeon.color }}</p>
                <p><span>Looté à :</span> {{ lastPigeon.place }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <button id="load-more" data-page="{{ page + 1 }}">Load More</button>

    <script>
        $(document).ready(function () {
            $('#load-more').click(function () {
                var userId = {{ user['idUser'] }};
                var nextPage = $(this).data('page');
        
                $.ajax({
                    url: '/loadMorePigeons',
                    type: 'GET',
                    data: {
                        user_id: userId,
                        page: nextPage
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            $.each(data, function (index, pigeon) {
                                $('.cards-container').append('<div class="pigeon-card"><img src="' + pigeon.urlPhoto + '" alt="" style="width:100%"><b><p class="pigeon-title">' + pigeon.prenomPigeon + '</p></b><p><span>Couleur :</span> ' + pigeon.color + '</p><p><span>Looté à :</span> ' + pigeon.place + '</p></div>');
                            });
                            $('#load-more').data('page', nextPage + 1);
                        } else {
                            $('#load-more').hide();
                        }
                    }
                });
            });
        });
    </script>
    

</body>

</html>