<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    <title>S'inscrire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/register.css') }}">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('accueil') }}">Pigeon Gate</a></h1>
        <h2>Bienvenue sur Pigeon-Gate{% if pseudo %}, {{ pseudo }}{% else %}{% endif %} !</h2>
        <hr>
    </header>
    <nav>
        <div>
            <li><a href="{{ url_for('galery') }}">the pigeons</a></li>
            <li><a href="{{ url_for('about') }}">à propos</a></li>
        </div>
        <div>
            {% if not pseudo %}
            <li><a href="{{ url_for('register') }}" class="active-page">S'inscrire</a></li>
            <li><a href="{{ url_for('login') }}">Se connecter</a></li>
            {% elif pseudo %}
            <li><a href="{{ url_for('profil') }}">Mon profil</a></li>
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
            {% endif %}
        </div>
    </nav>
    {% if messageErrorRegister %}
    <p style="color: red;">{{ messageErrorRegister }}</p>
    {% endif %}
    <section>
        <h3>REJOINS LE CLUB</h3>
        <p class="subtext">Tu ne le regretteras pas !</p>
        <div id="join-container">
            <img src="https://i.pinimg.com/736x/b9/c4/7e/b9c47ef70bff06613d397abfce02c6e7.jpg" alt="">
            <form action="/register" method="post">
                <label for="pseudo">Pseudo</label><br>
                <input type="text" name="pseudo" id="pseudo" placeholder="Ton pseudo..." required><br>
                <label for="password">Mot de passe</label><br>
                <input type="password" name="password" id="password" placeholder="Un mot de passe solide..."
                    required><br>

                <label id="avatar-label">Votre Avatar</label>
                <div id="radio-container">
                    <label for="pp1">
                        <input type="radio" id="pp1" name="typeProfilePicture" value="profile1" />
                        <img class="radio-option" src="./static/images/profile1.png"
                            alt="Photo de profil jaune et rose dotée d'un pigeon joyeux">
                    </label>

                    <label for="pp2">
                        <input type="radio" id="pp2" name="typeProfilePicture" value="profile2" />
                        <img class="radio-option" src="./static/images/profile2.png"
                            alt="Photo de profil bleue et rose dotée d'un pigeon endormi">
                    </label>

                    <label for="pp3">
                        <input type="radio" id="pp3" name="typeProfilePicture" value="profile3" />
                        <img class="radio-option" src="./static/images/profile3.png"
                            alt="Photo de profil verte et rose dotée d'un pigeon qui fume">
                    </label>

                    <label for="pp4">
                        <input type="radio" id="pp4" name="typeProfilePicture" value="profile4" />
                        <img class="radio-option" src="./static/images/profile4.png"
                            alt="Photo de profil verte et bleue dotée d'un pigeon qui gambade">
                    </label>

                </div>

                <div id="join-or-log">
                    <input type="submit" value="S'inscrire">
                    <p>Déjà inscrit(e) ? <a href="/login">Se connecter</a></p>
                </div>
            </form>
        </div>
    </section>
    <a id="back-top" href="#top">&uarr; Revenir en haut &uarr;</a>
    <footer>
        <p><a href="/about">The Pigeon Team</a></p>
        <p><a href="https://github.com/AM-XIX/Pigeon-Gate" target="_blank">Pigeon Gate™</a></p>
        <p>IMAC 2024 ©</p>
    </footer>
</body>

</html>