<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
</head>

<body>
    <h1>S'inscrire</h1>
    <form action="/register_user" method="post">
        <label for="pseudo">Pseudo</label><br>
        <input type="pseudo" name="pseudo" id="pseudo" required><br>

        <label for="password">Mot de passe</label><br>
        <input type="password" name="password" id="password" required><br>

        <fieldset>
            <legend>Votre Avatar</legend>
            <div>
                <label for="pp1">
                    <input type="radio" id="pp1" name="pp" value="pp1"/>
                    <img src="./static/images/pp1.png" alt="pp1" style="width:10%">
                </label>
            </div>

            <div>
                <label for="pp2">
                    <input type="radio" id="pp2" name="pp" value="pp2" />
                    <img src="./static/images/pp2.png" alt="pp2" style="width:10%">
                </label>
            </div>

            <div>
                <label for="pp3">
                    <input type="radio" id="pp3" name="pp" value="pp3" />
                    <img src="./static/images/pp3.png" alt="pp3" style="width:10%">
                </label>
            </div>

            <div>
                <label for="pp4">
                    <input type="radio" id="pp4" name="pp" value="pp4" />
                    <img src="./static/images/pp4.png" alt="pp4" style="width:10%">
                </label>
            </div>
        </fieldset>


        <input type="submit" value="S'inscrire">

        <br>
        <a href="/login">Se connecter</a>
    </form>
</body>

</html>