<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/register.css') }}">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('welcome') }}">Pigeon Gate</a></h1>
        <h2>Bienvenue sur Pigeon-Gate{% if pseudo %}, {{ pseudo }}{% else %}{% endif %} !</h2>
        <hr>
    </header>
    <nav>
        <div>
            <li><a href="">the pigeons</a></li>
            <li><a href="">à propos</a></li>
        </div>
        <div>
            {% if not pseudo %}
            <li><a href="{{ url_for('register') }}" class="active-page">S'inscrire</a></li>
            <li><a href="{{ url_for('login') }}">Se connecter</a></li>
            {% elif pseudo %}
            <li><a href="{{ url_for('profil') }}">Mon profil</a></li>
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
            {% endif %}
        </div>
    </nav>
    {% if messageErrorRegister %}
    <p style="color: red;">{{ messageErrorRegister }}</p>
    {% endif %}
    <section>
    <h1>REJOINS LE CLUB</h1>
    <form action="/register" method="post">
        <label for="pseudo">Pseudo</label><br>
        <input type="pseudo" name="pseudo" id="pseudo" required><br>

        <label for="password">Mot de passe</label><br>
        <input type="password" name="password" id="password" required><br>

        <fieldset>
            <legend>Votre Avatar</legend>
            <div>
                <label for="pp1">
                    <input type="radio" id="pp1" name="typeProfilePicture" value="profile1" />
                    <img src="./static/images/pp1.png" alt="pp1" style="width:10%">
                </label>
            </div>

            <div>
                <label for="pp2">
                    <input type="radio" id="pp2" name="typeProfilePicture" value="profile2" />
                    <img src="./static/images/pp2.png" alt="pp2" style="width:10%">
                </label>
            </div>

            <div>
                <label for="pp3">
                    <input type="radio" id="pp3" name="typeProfilePicture" value="profile3" />
                    <img src="./static/images/pp3.png" alt="pp3" style="width:10%">
                </label>
            </div>

            <div>
                <label for="pp4">
                    <input type="radio" id="pp4" name="typeProfilePicture" value="profile4" />
                    <img src="./static/images/pp4.png" alt="pp4" style="width:10%">
                </label>
            </div>
        </fieldset>
        
        <input type="submit" value="S'inscrire">

        <br>
        <a href="/login">Se connecter</a>
    </form>
    </section>
    <a id="back-top" href="#top">&uarr; Revenir en haut &uarr;</a>
    <footer>
      <p>The Pigeon Team</p>
      <p>Pigeon Gate™</p>
      <p>IMAC 2024 ©</p>
    </footer>
</body>

</html>