<!DOCTYPE html>

<html>

<head>
  <title>Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
</head>

<body>
  <header>

    <h1>Bienvenue sur Pigeon-Gate{% if pseudo %}, {{ pseudo }}{% else %}{% endif %} !</h1>
  </header>

  {% if not pseudo %}
  <a href="{{ url_for('login') }}">Se connecter</a><br>
  <a href="{{ url_for('register') }}">S'inscrire</a><br>
  {% endif %}


  <div class="pigeon">
    <h2>Les pigeons TRENDY ✨</h2>

    {% for pigeon in pigeons %}
    <div class="container">
      <div class="pigeon">
        <img src="{{ pigeon[7] }}" alt="pigeon" style="width:100%">
        <b>
          <p>{{ pigeon[1] }}</p>
        </b>
        <p>Couleur : {{ pigeon[2] }}</p>
        <p>Looté à : {{ pigeon[4] }}</p>
      </div>
      {% endfor %}
    </div>
</body>

</html>