<!DOCTYPE html>

<html lang="fr">

<head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
  <title>Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/welcome.css') }}">
  <script src="{{ url_for('static', filename='./js/manageJson.js') }}"></script>
</head>

<body>
  <header>
    <h1><a href="{{ url_for('accueil') }}">Pigeon Gate</a></h1>
    <h2>Bienvenue chez nous{% if pseudo %}, {{ pseudo }}{% else %}{% endif %} !</h2>
    <hr>
  </header>
  <nav>
    <div>
      <li><a href="{{ url_for('galery') }}">the pigeons</a></li>
      <li><a href="{{ url_for('about') }}">à propos</a></li>
    </div>
    <div>
      {% if not pseudo %}
      <li><a href="{{ url_for('register') }}">S'inscrire</a></li>
      <li><a href="{{ url_for('login') }}">Se connecter</a></li>
      {% elif pseudo %}
      <li><a href="{{ url_for('profil') }}">Mon profil</a></li>
      <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
      {% endif %}
    </div>
    </div>
  </nav>

  <section id="trending">
    <div id="trending-header">
      <h3>Trending ✨</h3>
      <a class="call-to-action" href="{{ url_for('galery') }}">Explorer</a>
      <p id="sumUsers"></p>
    </div>

    <div class="cards-container">
      {% for pigeon in pigeons %}
      <a href="{{ url_for('cardPigeon', idPigeon=pigeon.idPigeon) }}" class="pigeon-card-link">
      <div class="pigeon-card">
        <div class="pigeon-image" alt="" style="background:url('{{ pigeon.urlPhoto }}') center center/cover;">
        </div>
        <b>
          <p class="pigeon-title">{{ pigeon.prenomPigeon }}</p>
        </b>
        <p><span>Couleur :</span> {{ pigeon.color }}</p>
        <p><span>Looté à :</span> {{ pigeon.place }}</p>
        <p style="text-align: right;"><span>{{ pigeon.nbLike }} ❤️</span></p>
      </div>
    </a>
      {% endfor %}
    </div>
  </section>
  <section id="principe">
    <h3>Le principe</h3>
    <div class="principe-container">
      <img src="static/images/principe-img.png" alt="">
      <div>
        <h4>Partage tes pigeons !</h4>
        <p>
          Tu es fan de pigeon et tu as toujours voulu partager cette passion? 
          Ou bien tu es parisien et tu cherches quoi faire de toutes les photos de pigeons que tu as dans ta galerie?
          Ou bien tu es persuadé que les pigeons sont des agents de renseignements pour la DGSI?
          Ou bien tu t'appelles Louise Peridy et tu as un pète au casque?
          Pigeon Gate est fait pour toi! Ici, poste tes plus beaux pigeons pour agrandir ta collection 
          et observe les autres pigeons gaters noter et commenter tes créatures à plumes! 
          Et qui sait, peut-être qu'un jour un de tes pigeons sera en trending!
        </p>
        {% if not pseudo %}
        <a class="call-to-action" href="{{ url_for('register') }}">Rejoins-nous</a>
        {% endif %}
      </div>
    </div>
  </section>
  <div id="welcome-sub-bar">
  <button id="bullying">&rarr; Bullying &larr;</button>
  <a id="back-top" href="#top">&uarr; Revenir en haut &uarr;</a>
  </div>
  <footer>
    <p><a href="/about">The Pigeon Team</a></p>
    <p><a href="https://github.com/AM-XIX/Pigeon-Gate" target="_blank">Pigeon Gate™</a></p>
    <p>IMAC 2024 ©</p>
</footer>
</body>

</html>