<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    <script src="{{ url_for('static', filename='./js/manageJson.js') }}"></script>
</head>

<body>
    <header>
        
    </header>

    <h1>Worst Pigeon</h1>
    <div id="pigeon-info">
        <p>ID Pigeon: <span id="idPigeon"></span></p>
        <p>Prénom Pigeon: <span id="prenomPigeon"></span></p>
        <p>Color: <span id="color"></span></p>
        <p>Place: <span id="place"></span></p>
        <p>URL Photo: <span id="urlPhoto"></span></p>
        <p>Moyenne: <span id="moyenne"></span></p>
    </div>
    
    <footer>
       
    </footer>
</body>

</html>